<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" rel="stylesheet" />
    <title>Reset Password</title>
</head>

<body>
    <h1>Reset Password for <%= email %></h1>
    <form action="/auth/reset-password/<%= id %>/<%= token %>" method="post">
        <input type="password" name="password" id="password" placeholder="Enter New Password" required /><br /><br />
        <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" required /><br /><br />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>
